body {
	margin:  0;
	font-family: Arial;
}

header {
	background: lightblue;
	width: 100%;
	height: 70px;

}

#Newspaper {
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

#about {
	
}

#news {

}

span {
	display: inline-block;
	margin-left: 10px;
}