img {
	width: 100px;
	height: 100px;
}
#first p {
	font-size: 20px;
}

/* 
h1 {
	display: none;
}

#second > div {
	display: none;
}
*/

div { 
	border-bottom: 1px solid black;
/* 
#third p {
	display: none;
}
/*