body {
	margin:  0;
	font-family: Arial;
}

header {
	background: lightblue;
	width: 100%;
}

h1 {
	padding: 15px 0;
	margin: 0px;
	top: 50%;
}

#Newspaper {
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

#about {
	
}

#news {

}

span {
	display: inline-block;
	margin-left: 10px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
}
