html, body { 
  min-height: 100vh;
  overflow: auto;
}

body {
  margin:  0;
  padding:  0;
  font-family: Arial;
}

header {
  background: lightblue;
  width: 100%;
}

h1 {
  padding: 15px 0;
  margin: 0px;
  top: 50%;
}

#Newspaper {
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar,
.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    flex-grow: 1;
    min-width: auto;
    min-height: 100%;
    padding: 70px;
    background: grey;
}

.content {
    flex-grow: 5;
    min-width: 630px;
    padding: 0px 70px;
}

.sidebar p, .sidebar h3 {
  width: auto;
  text-align: start;
}



img {
  width: auto;
  overflow-y: hidden;
  height: 300px;
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
}
